* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main-country {
  display: flex;
  transition: opacity 1s;
  align-items: center;
  justify-content: center;
}

.country-borders {
  display: flex;
  transition: opacity 1s;
  flex-wrap: nowrap;
}
.container {
  /* display: flex; */
  text-align: center;
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}
#btn-close {
  align-items: right;
  justify-content: right;
  display: flex;
  margin-left: 1800px;
  opacity: 0;
}

.search-img {
  width: 20rem;
  height: 10rem;
  object-fit: cover;
  background-color: white;
  border-radius: 10%;
}

.country-mainC {
  display: flex;
  background-color: aquamarine;
  padding: 3%;
}

.country-bordersC {
  display: flex;
  background-color: aquamarine;
  padding: 0.5%;
  border-style: solid;
  border-color: whitesmoke;
  flex-wrap: wrap;
}

.hide-border {
  opacity: 0;
}

.hide-country {
  opacity: 0;
}
